@import '@radix-ui/colors/slate.css';

// Tooltip
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.TooltipContent {
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--slate-12);
  color: var(--gray-8);
  font-size: 1.2rem;
  font-weight: 600;

  animation: scaleIn 90ms ease-in;
}
