@import './reuse';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/blue.css';

$cell-padding: 24px;
$border-color: var(--gray-7);

.calendar-weekdays-spacing {
  display: grid;
  grid-template-columns: repeat(7, minmax(80px, 1fr));
}

.calendar-grid-spacing {
  display: grid;
  grid-template-columns: minmax(auto, 80px) 1fr;
}

.calendar-header {
  border-bottom: 1px solid var(--gray-8);
  padding: 16px;
  font-size: 1.4rem;
}

.btn--today {
  background-color: #fff;
  border: 1px solid var(--gray-8);
  color: var(--slate-12);
  border-radius: 4px;
  transition: background-color 0.2s;
  font-weight: 600;

  &:hover {
    background-color: var(--gray-3);
  }
}

.change-week {
  @extend .d-flex;
  padding: 6px;
  border-radius: 100px;

  transition: background-color 0.3s;
  user-select: none;

  &:hover {
    background-color: var(--blue-3);
  }
}

.calendar-container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.timeline {
  padding: 24px;
}

.scrollable-x {
  overflow-x: auto;
  overflow-y: hidden;
}
.scrollable-y {
  height: 0px;
  flex-grow: 1;
  overflow-y: auto;
}

.no-scroll {
  overflow: hidden;
}

.grid-header {
  @extend .calendar-weekdays-spacing;

  .weekday {
    @extend .d-flex;
    flex-direction: column;
    font-weight: 500;
    color: var(--gray-9);
    gap: 4px;
    border-bottom: 1px solid $border-color;

    .day {
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    .date {
      height: 48px;
      width: 48px;
      border-radius: 100px;
      font-size: 2.4rem;
    }

    &.today {
      .day {
        color: var(--blue-10);
      }
      .date {
        background-color: var(--blue-10);
        color: var(--gray-2);
      }
    }
  }
}

.cell {
  padding: $cell-padding;

  border: 1px solid $border-color;
  border-left: none;
  border-top: none;
}

.sidebar {
  border-right: 1px solid $border-color;
}

.time-cell {
  padding: $cell-padding;
  position: relative;
  border-bottom: 1px solid #fff;

  .time {
    color: var(--gray-12);
    font-size: 1rem;
    position: absolute;
    @extend .d-flex;
    gap: 8px;

    top: 0;
    right: 0;

    transform: translate(0, -50%);

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 1px;
      border-top: 1px solid $border-color;
    }
  }

  &:first-child {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .calendar-header {
    padding: 16px 64px;
    font-size: 1.6rem;
  }
}
