@import './reuse';
$space: 64;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'inter', sans-serif;
}

@while $space >=0 {
  @include spacing($space);
  $space: $space - 2;
}

body,
#root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}
